<div class="container col-md-8 col-md-offset-2">

	<div class="row">
		<div class="container col-md-12">
			<div class="panel panel-primary"><div class="panel-body">
			<img class="featuredImg center-block" src="img/1.jpg" style="max-height:140px;max-width:100%;">
			</div></div>
		</div>		
	</div>
	
	<p/>

	<div class="row">
		<div class="col-sm-5">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="input formula or name" ng-model="SearchCriteria"/>
					<a href="#home" ng-click="showList()" class="input-group-addon btn btn-primary" >Search Now!</a>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-sm-5">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			  
			  <form class="form-inline">
  <div class="form-group">
	<label for="exampleInputName2">Compound Classes</label>
				<input type="text" placeholder="Filter" ng-model="q" class="input-sm form-control col-black">
  </div>
  </form>
			  
			  </div>
			  <div class="panel-body" style="max-height: 120px;overflow-y: scroll;">
				<ul class="list-group">
				  <a href="#home" class="list-group-item" ng-repeat="items in r[0].data | filter:q as results" ng-click="download($index)">
				  <button type="button" class="btn btn-default badge" ng-click="download($index)"><span class="glyphicon glyphicon-download-alt"></span></button>
					{{items.label}}
				  </a>
				</ul>
			  </div>
			</div>			
		</div>
	</div>
</div>

<!--MODAL item list-->
<div class="modal" id="resultList">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<h4 class="modal-title">Select the proper element,</h4>
	  </div>
	  <div class="modal-body">
		<div class="list-group">
		  <a ng-href ng-Click="selectOne($index)" class="list-group-item" ng-repeat="items in resultL">{{items.cFormula}} : {{items.cName}}</a>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
<!--contoller-->
<script>
sys.q = [
	{method: 'POST',url: 'request/compModuleCall.php?nocache=1',data: { section: 'getClass' }}
];

sys.ctrl = function($scope, $http) {
	$scope.resultL = [];
	$scope.SearchCriteria = "";

	$scope.showList = function() {		
		//do an AJAX request to find whether user exist
		//the answer depends on the Code field. See file Codes.txt to know what each code means
		$http.post("request/compModuleCall.php",{section:"getComp", searchCriteria: $scope.SearchCriteria})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$scope.SearchCriteria = "";
				if(json["data"].length >1){
					$scope.resultL = json["data"];
					sys.passVariable = json;
					$('#resultList').modal('show');					
				}else{
					sys.passVariable = json["data"][0];
					$scope.go('/item/'+sys.passVariable.cid);
				}

			}else {	//According to Code 1001 login was unsuccessful
				$('#mMessgTitle').text("Acction cannot be processed.");		
	 			$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');
				$scope.emailModify="";
			}
		});	
		
	};
	
	$scope.selectOne= function(number){
		//console.log(number);
		$('#resultList').modal('hide');
		sys.passVariable = sys.passVariable["data"][number];
		 //$modalInstance.close($scope.selected.item);
		 
		$scope.go('/item/'+sys.passVariable.cid);
	}
	
	$scope.download= function(index){
		$http.post("request/compModuleCall.php",{section:"expComp", cClass: $scope.r[0].data[index].id})
		.success(function(json,status,headers) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"]!=2000 && typeof json["Code"] !== 'undefined'){//According to Code 1001 login was unsuccessful
				$('#mMessgTitle').text("Acction cannot be processed.");		
	 			$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');
			}else {	//it was successful
				var element = angular.element('<a/>');
				 element.attr({
					 href: 'data:attachment/csv;charset=utf-8,' + encodeURI(json),
					 target: '_blank',
					 download: 'filename.csv'
				 })[0].click();
			}
			
		});
	}
}
</script>