<!-- New User -->
<div class="col-lg-offset-1">
	<div class="col-lg-9" id="userMainDtail">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Welcome</h3>
			</div>
			<div class="panel-body">
				If you are on this page is because you have been invited to join our team. Please fill out the following information,<p/>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="uName" placeholder="Name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="uEmail" placeholder="Email">
				</div>
				<div class="form-group">
			 		<input type="password" class="form-control" ng-model="uPass" placeholder="Password">
				</div>
				<div class="form-group">
			 		<input type="password" class="form-control" ng-model="uPasstwo" placeholder="Confirm Password">
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default" ng-click="clickSubmit()">Submit</button>
				<button type="button" class="btn btn-default" ng-click="clickCancel()">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>
sys.ctrl = function($scope, $http) {
	//these variables are associated with the ng-model
	//if you modify any of these variables it will be
	//modified in the view as well
	$scope.uName = "";
	$scope.uEmail = "";
	$scope.uPass = "";
	$scope.uPasstwo = "";

	$scope.clickSubmit= function(){
		$http.post("request/userModuleCall.php",{name:$scope.uName ,email:$scope.uEmail ,pass:$scope.uPass ,confPass:$scope.uPasstwo , section:"createUser"})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$scope.uName = "";
				$scope.uEmail = "";
				$scope.uPass = "";
				$scope.uPasstwo = "";
				$('#mMessgTitle').text("Account Creation Succesful");		
	 			$('#mMessgText').text("Account has been created, you can log in now.");
				$('#mMessg').modal('show');
				$scope.go("/login");
			}else {	//According to Code 1001 login was unsuccessful
				$('#mMessgTitle').text("Acction cannot be processed.");		
	 			$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');
				$scope.emailModify="";
			}
		});		
	}
	
	$scope.clickCancel= function(){
		$scope.go("/home");
	}	
}