<!-- account Details -->
<div class="col-sm-offset-1">
	<div class="col-sm-3 hidden-xs">
		<div ng-include="'pages/userMenu.html'"></div>
	</div>
	<div class="col-sm-7">
		<div class="panel panel-primary">
			<div class="panel-heading">Modify Compound</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingOne">
					  <h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						  Compound Picture
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
							<img ng-show="!dataFiles.length" ng-src="img/{{r[1].data[0].cFormula}}.jpg" class="img-thumbnail" width="120px">
							<img ng-show="dataFiles.length" ng-src="{{dataFiles[0]}}" class="img-thumbnail" width="120px">
						</div>
						<div class="panel-footer">
							<button type="button" class="btn btn-info" ng-click="uploadPic()">Update Pic</button>
						</div>
					</div>
				  </div>
				  
				  <div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingTwo">
					  <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						  Compound Data
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="input Name" ng-model="r[1].data[0].cName"/>
								<input class="form-control" type="text" placeholder="input Formula" ng-model="r[1].data[0].cFormula"/>
								<input class="form-control" type="text" placeholder="input Other Name" ng-model="r[1].data[0].cOName"/>
								<input class="form-control" type="text" placeholder="input Mass" ng-model="r[1].data[0].cMass"/>
								<input class="form-control" type="text" placeholder="input Frag" ng-model="r[1].data[0].cFrag"/>
								<input class="form-control" type="text" placeholder="input Retention time" ng-model="r[1].data[0].cRT"/>
								<input class="form-control" type="text" placeholder="input Precursor" ng-model="r[1].data[0].cPrecursor"/>
								<input class="form-control" type="text" placeholder="input CAS" ng-model="r[1].data[0].cCAS"/>
								<select id="selectedClass" ng-model="selectedClass" class="form-control" ng-options="item.label for item in r[0].data track by item.id"></select>
							</div>
						</div>
						<div class="panel-footer">
							<button type="button" class="btn btn-info" ng-click="Submit()">Update Compound Info</button>
						</div>
					</div>
				  </div>
				  
				  <div class="panel panel-primary">
					<div class="panel-heading" role="tab" id="headingThree">
					  <h4 class="panel-title">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						  Compound Transition
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<div class="panel panel-primary" ng-repeat="item in r[2].data">
								<div class="panel-heading">Transition # {{$index}}</div>
								<div class="panel-body">
									Product: {{item.tProduct}}</br>
									CE: {{item.tCE}}</br>
									Abundance: {{item.tAbundance}}</br>
									Intensity: {{item.tRIInt}}
								</div>
								<div class="panel-footer">
								<button type="button" class="btn btn-info" ng-click="callEditTransitionModal($index)">Edit</button>
								<button type="button" class="btn btn-info" ng-click="deleteTransition($index)">Delete</button>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="button" class="btn btn-info" ng-click="callADDTransitionModal()">Add Transition</button>
						</div>
					</div>
				  </div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-info" ng-click="deleteCompound()">Delete Compound</button>
			</div>
		</div>
	</div>
</div>

<!--modify transition-->
<div class="modal" id="maddTrans">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" ng-show="modalAction=='ADD'">Add Transition</h4>
			<h4 class="modal-title" ng-show="modalAction=='EDIT'">Edit Transition</h4>
		</div>
		<div class="modal-body">
			<input class="form-control" type="text" placeholder="input Product" ng-model="TransProd"/>
			<input class="form-control" type="text" placeholder="input CE" ng-model="TransCE"/>
			<input class="form-control" type="text" placeholder="input Abundance" ng-model="TransAbd"/>
			<input class="form-control" type="text" placeholder="input R Intensity" ng-model="TransInt"/>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="editTransition(editId)" ng-show="modalAction=='EDIT'">Submit changes</button>
			<button type="button" class="btn btn-default" ng-click="addTransition()" ng-show="modalAction=='ADD'">Add</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>

sys.q = [
{method: 'POST',url: 'request/compModuleCall.php?nocache=1',data: { section: 'getClass' }},
{method: 'POST',url: 'request/compModuleCall.php?nocache=2',data: { section: 'getCompbyId', id: sys.params.itemId}},
{method: 'POST',url: 'request/compModuleCall.php?nocache=3',data: { section: 'getTrans', CompId: sys.params.itemId }}
];


sys.ctrl = function($scope, $http) {
	$scope.checkUserData();
	
	$scope.selectedClass=0;
	$scope.modalAction = "";
	$scope.TransProd = "";
	$scope.TransCE = "";
	$scope.TransAbd = "";
	$scope.TransInt = "";
	$scope.listFiles = [];
	$scope.dataFiles = [];
	$timeout = $scope.timeout;
	
	$http.post("request/compModuleCall.php",
		{section: 'getCompbyId', id: sys.params.itemId})
		.success(function(msg) {
			$scope.selectedClass = {id : msg.data[0].cClass};
	});
	
	$scope.onFileSelect = function($files) {    
			if  ($files[0].type.match('image')) {
				var $file = $files[0];
				$scope.listFiles.push($file);
				if ( window.FileReader != null && (window.FileAPI == null || FileAPI.html5 != false) ) {
					var fileReader = new FileReader();
					fileReader.onloadend = function(e) {
						$timeout(function() {
							$scope.dataFiles[0] = e.target.result;
						});
					}
					fileReader.readAsDataURL($file);
				}
			}
			else
			{
				//ERROR: Solo se aceptan imagenes
			}
	};
	
	
	$scope.uploadPic = function(){
		//console.log('hhhh');
		if($scope.listFiles.length > 0 && $scope.dataFiles.length > 0){
			var formData = new FormData();
			// Append all the data
			//formData.append("name", $scope.name);
			//Append files
			for (var i=0; i < $scope.listFiles.length; i++)
				formData.append('files[]', $scope.listFiles[i]);
			
			$.ajax({
				url: "request/request_importPics.php",
				type: "POST",
				data: formData,
				processData: false,  // tell jQuery not to process the data
				contentType: false,   // tell jQuery not to set contentType
				transformRequest: angular.identity
			}).done(function(json, status, headers, config) {
				if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
				else{
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Picture updated.");
				$('#mMessg').modal('show');
				}
			});	
		}
	}
	
	$scope.callEditTransitionModal= function(id){
		$scope.TransProd = $scope.r[2].data[id].tProduct;
		$scope.TransCE = $scope.r[2].data[id].tCE;
		$scope.TransAbd = $scope.r[2].data[id].tAbundance;
		$scope.TransInt = 	$scope.r[2].data[id].tRIInt;
		$scope.modalAction = "EDIT";
		$scope.editId = id;
		$('#maddTrans').modal('show');
	}
	
	$scope.callADDTransitionModal= function(){
		$scope.TransProd = "";
		$scope.TransCE = "";
		$scope.TransAbd = "";
		$scope.TransInt = "";
		$scope.modalAction = "ADD";
		$('#maddTrans').modal('show');		
	}
	
	$scope.Submit= function(){
		//console.log($scope.r[1].data[0].cClass+"number");
		$http.post("request/compModuleCall.php",
		{cName: $scope.r[1].data[0].cName,
		cFormula: $scope.r[1].data[0].cFormula,
		cOName: $scope.r[1].data[0].cOName,
		cMass: $scope.r[1].data[0].cMass,
		cPrecursor: $scope.r[1].data[0].cPrecursor,
		cFrag: $scope.r[1].data[0].cFrag,
		cRT: $scope.r[1].data[0].cRT,
		cCAS: $scope.r[1].data[0].cCAS,
		cClass : $scope.selectedClass.id,//$scope.r[1].data[0].cClass,
		cid : $scope.r[1].data[0].cid,
		section:"editComp"})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Compound has been updated.");
				$('#mMessg').modal('show');
				//$scope.go("/userCompound");
				}else{
				$('#mMessgTitle').text("Acction cannot be processed.");		
				$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');	
			}
		});
	}	
	
	$scope.deleteCompound = function(){
		$http.post("request/compModuleCall.php",
		{section:"deleteComp",
		cid: $scope.r[1].data[0].cid})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Compound deleted.");
				$('#mMessg').modal('show');
				$scope.go("/userCompound");
				}else{
				$('#mMessgTitle').text("Acction cannot be processed.");		
				$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');	
			}
		});
	}
	
	$scope.deleteTransition = function(transId){
		$http.post("request/compModuleCall.php",
		{section:"deleteTrans",
		Transid: $scope.r[2].data[transId].tid})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$scope.r[2].data.splice(transId, 1);
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Transition deleted.");
				$('#mMessg').modal('show');
				}else{
				$('#mMessgTitle').text("Acction cannot be processed.");		
				$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');	
			}
		});	
	}
	
	$scope.editTransition = function(transId){
		$('#maddTrans').modal('hide');
		$http.post("request/compModuleCall.php",
		{section:"editTrans",
		Transid: $scope.r[2].data[transId].tid,
		product: $scope.TransProd,
		CE : $scope.TransCE,
		Abd: $scope.TransAbd,
		Intens: $scope.TransInt
		})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$scope.r[2].data[transId].tProduct = $scope.TransProd;
				$scope.r[2].data[transId].tCE = $scope.TransCE;
				$scope.r[2].data[transId].tAbundance = $scope.TransAbd;
				$scope.r[2].data[transId].tRIInt = $scope.TransInt;
				
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Transition updated.");
				$('#mMessg').modal('show');
				}else{
				$('#mMessgTitle').text("Acction cannot be processed.");		
				$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');	
			}
		});	
	}	
	
	$scope.addTransition = function(){
		$('#maddTrans').modal('hide');
		$scope.compTrans = [];
		$scope.compTrans.push({"cid":$scope.r[1].data[0].cid,"product":$scope.TransProd,"CE":$scope.TransCE,"Abd":$scope.TransAbd,"Intens":$scope.TransInt});
		//console.log("Trans: "$scope.compTrans);
			
		$http.post("request/compModuleCall.php",
		{section:"addTrans",
		Trans: $scope.compTrans
		})
		.success(function(json) {
			console.log(json);
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				console.log(json);
				$scope.r[2].data.push({"cid":$scope.r[1].data[0].cid,"tid":json["data"]["lastRecordId"],"tProduct":$scope.TransProd,"tCE":$scope.TransCE,"tAbundance":$scope.TransAbd,"tRIInt":$scope.TransInt});
				$('#mMessgTitle').text("Success.");		
				$('#mMessgText').text("Transition added.");
				$('#mMessg').modal('show');
				}else{
				$('#mMessgTitle').text("Acction cannot be processed.");		
				$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');	
			}
		});	 
	}	
	
}

</script>	
