<!-- buy -->
<div class="col-lg-offset-1">
	<div class="col-lg-3">
		<div ng-include="'pages/userMenu.html'"></div>
	</div>
	<div class="col-lg-7"  id="userMainBuy">
		<div class="panel panel-primary">
			<div class="panel-heading">Compounds</div>
			<div class="panel-body">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="input formula or name" ng-model="SearchCriteria"/>
					<a ng-href="" ng-click="clickSearch()" class="input-group-addon btn btn-primary" >Search Now!</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
sys.ctrl = function($scope, $http) {
	//if(sys.user == null) $scope.go("/home");
	$scope.SearchCriteria = "";
	
	$scope.clickSearch= function(){
		//do an AJAX request to find whether user exist
		//the answer depends on the Code field. See file Codes.txt to know what each code means
		$http.post("request/compModuleCall.php",{section:"getComp", searchCriteria: $scope.SearchCriteria})
		.success(function(json) {
			if((json["Code"] > 2000 && json["Code"] < 3000) ||json["Code"] == 1005) $scope.go("/home");
			else if(json["Code"] == 2000){
				$scope.SearchCriteria = "";
				sys.passingVariable = json["data"];
				$scope.go("/userModCompund");
						console.log($scope.passVariable);
			}else {	//According to Code 1001 login was unsuccessful
				$('#mMessgTitle').text("Acction cannot be processed.");		
	 			$('#mMessgText').text(json["CodeDetails"]);
				$('#mMessg').modal('show');
				$scope.emailModify="";
			}
		});		
	}
	
	
}
</script>	